<!--Author: Junior-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head('Employee Management – LAPS')}"></head>

<body>
<div th:replace="~{fragments/layout :: navbar}"></div>

<h3>Employee List</h3>

<div th:if="${successMessage}" class="alert alert-success">
    <span th:text="${successMessage}"></span>
</div>

<div th:if="${errorMessage}" class="alert alert-danger">
    <span th:text="${errorMessage}"></span>
</div>

<p th:text="${session.role != null ? session.role.name() : ''}"></p>

<a th:href="@{${ROUTE_ADMIN_EMPLOYEE_NEW}}">Add Employee</a>

<div th:if="${not #lists.isEmpty(employeeList)}">
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Hire Date</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="employee : ${employeeList}">
            <td th:text="${employee.emp_id}"></td>
            <td th:text="${employee.first_name + ' ' + employee.last_name}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.phoneNumber}"></td>
            <td th:text="${employee.department}"></td>
            <td th:text="${employee.designation}"></td>
            <td th:text="${employee.hire_date}"></td>
            <td th:text="${employee.employeeStatus}"></td>

            <td>
                <a th:href="@{/admin/employee/edit/{id}(id=${employee.emp_id})}">
                    Edit
                </a>
            </td>

            <td>
                <a th:href="@{/admin/employee/delete/{id}(id=${employee.emp_id})}"
                   onclick="return confirm('Are you sure you want to delete this employee?');">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${#lists.isEmpty(employeeList)}">
    <p>No employee found.</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>