<!--Author: Junior-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head('Edit Employee – LAPS')}"></head>

<body>
<div th:replace="~{fragments/layout :: navbar}"></div>

<h3>Edit Employee</h3>

<div th:if="${errorMessage}" class="alert alert-danger">
    <span th:text="${errorMessage}"></span>
</div>

<form th:action="@{/admin/employee/edit/{id}(id=${employee.emp_id})}"
      th:object="${employee}" method="post">

    <table>
        <tbody>

        <tr>
            <td>ID</td>
            <td><input type="text" th:field="*{emp_id}" readonly/></td>
        </tr>

        <tr>
            <td>First Name</td>
            <td><input type="text" th:field="*{first_name}" readonly/></td>
        </tr>

        <tr>
            <td>Last Name</td>
            <td><input type="text" th:field="*{last_name}"/></td>
            <td th:errors="*{last_name}"></td>
        </tr>

        <tr>
            <td>Email</td>
            <td><input type="email" th:field="*{email}" readonly/></td>
            <td th:errors="*{email}"></td>
        </tr>

        <tr>
            <td>Phone</td>
            <td><input type="text" th:field="*{phoneNumber}"/></td>
            <td th:errors="*{phoneNumber}"></td>
        </tr>

        <tr>
            <td>Department</td>
            <td><input type="text" th:field="*{department}"/></td>
            <td th:errors="*{department}"></td>
        </tr>

        <tr>
            <td>Designation</td>
            <td><input type="text" th:field="*{designation}"/></td>
            <td th:errors="*{designation}"></td>
        </tr>

        <tr>
            <td>Hire Date</td>
            <td><input type="date" th:field="*{hire_date}" readonly/></td>
            <td th:errors="*{hire_date}"></td>
        </tr>

        <tr>
            <td>Status</td>
            <td>
                <select th:field="*{employeeStatus}">
                    <option value="ACTIVE">ACTIVE</option>
                    <option value="INACTIVE">INACTIVE</option>
                </select>
            </td>
            <td th:errors="*{employeeStatus}"></td>
        </tr>

        <tr>
            <td colspan="3">
                <input type="submit" value="Update"/>
                <a th:href="@{${ROUTE_ADMIN_EMPLOYEE_LIST}}">Back to List</a>
            </td>
        </tr>

        </tbody>
    </table>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>